<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dictionary - Add</title> 
</head>
<body>
    <h1>Add Words</h1>
    <form action="{% url 'dictionary:add' %}" method="post">
        {% csrf_token %}
        <label for="word">Word:</label>
        <input type="text" id="word" name="word" size="40" autofocus>
        <label for="definition">Definition:</label>
        <input type="text" id="definition" name="definition" size="40">
        <input type="submit" value="Add word">
    </form>
    <p><a href="{% url 'dictionary:index' %}">Search words</a></p>
</body>
</html>