{% extends 'base.html' %}
{% block content %}
<h1>Guestbook</h1>
<p><a href="{% url 'guestbook:post' %}">Add a new post</a></p>
{% if posts %}
<h2>Posts</h2>
<ul>
    {% for post in posts %}
        <li><strong>{{ post.author }} {{ post.date }}</strong><br>
            {{ post.comment|linebreaks }}
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No posts were found.</p>
{% endif %}

{% if is_paginated %}
    <div class="pagination">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <span>Previous</span>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <span>Next</span>
        {% endif %}
    </div>
{% endif %}
{% endblock %}