<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Images</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div class="col-md-12">
            <h1>Gallery</h1>
            <p><a href="{% url 'gallery:image_upload' %}">Upload more images</a></p>
        </div>
        {% for post in posts %}
        <div class="col-md-4">
            <p>{{ post.description }}</p>
            <img src="{{ post.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
        </div>
        {% endfor %}

        {% if is_paginated %}
        <div class="col-md-12">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    {% for num in paginator.page_range %}
                    <li {% if page_obj.number == num %}class="active"{% endif %}>
                        <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

    </body>
</html>
